<html>
    <head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
	</head>
	
    <body>
        <h1>Assigned Chores</h1>
        <p>Through {{endDate}}</p>
        <p>{{warnings}}</p>
        <table class="chores">
		<thead>
			<th>Name</th>
			<th>Chores</th>
		</thead>
		<tbody>
        {% for key, value in tableValues.items() %}
            <tr>
                <td width="30%">{{key}}</td>
                <td width="70%">{{value}}</td>
            </tr>
        {% endfor %}
		<tbody>
        </table>
    </body>


</html>